.late {
    color: red;
}

.done .col.s4 {
    text-decoration: line-through; 
}

.myleft {
    text-align: left
}

.myright {
    text-align: right
}

.mycenter {
    text-align: center;
}

.nonono {
    padding: 0;
    margin: 0;
}

.btn-done {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.collection .collection-item {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
.collection .collection-item:hover {
    background-color: lightgray;
}

form .btn{
   margin-top: 1.6rem; 
}